* {
    font-size: 1rem;
}

/*html{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}*/

/* 标签样式初始化 */
body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, 'STHeiti', 'Microsoft YaHei', 'sans-serif'
}

form, ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

ul, li {
    list-style-type: none;
}

a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #ccc;
}

a:hover {
    text-decoration: none;
}

iframe {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/*start*/
.content{
    position: absolute;
    top: 40px;
    overflow-y: auto;
    height: calc(100% - 55px);
    width: 100%;
    box-sizing: border-box;
}

/*end*/

/*图标 start*/
.icon {
    font-size: 1rem;
    /*color: #2196f3;*/
}

.icon_white {
    color: #fff !important;
}

.icon_gray6 {
    color: #666 !important;
}

.border_none {
    border: none !important;
}

.raised-button {
    font-weight: bold;
}

/*图标 end*/

/* 容器 start*/
.container {
    padding-left: 0;
    padding-right: 0;
}

/* 容器 end*/

/*require('es6-promise').polyfill();
  require('isomorphic-fetch');*/

/* 头像 start */
.head_img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #eee;
}
.head_img > img{
    width: 2rem;
    height: 2rem;
}
/* 头像 end */
