.grid-container{
    width: 100%;
    max-width: 1200px;
}

/*-- 使用 cleafix 清除浮动 -- */
.row:before,
.row:after {
    content:"";
    display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    /*width: 16.66%;*/
    width:8.33%;
    /*-- 设置列的左右间隙 -- */
    padding: 12px;
    background-color: #FFDCDC;
}

.col_1 { width: 8.33%; }
.col_2 { width: 16.66%; }
.col_3 { width: 25%; }
.col_4 { width: 33.33%; }
.col_5 { width: 41.66%; }
.col_6 { width: 50%; }
.col_7 { width: 58.33%; }
.col_8 { width: 66.66%; }
.col_9 { width: 75%; }
.col_10 { width: 83.33%; }
.col_11 { width: 91.66%; }
.col_12 { width: 100%; }
.col-1{ width: 16.66%; }
.col-2{ width: 33.33%; }
.col-3{ width: 50%;    }
.col-4{ width: 66.66%; }
.col-5{ width: 83.33%; }
.col-6{ width: 100%;   }

.outline, .outline *{
    outline: 1px solid #F6A1A1;
}

/*-- 列的额外内容样式 --*/
[class*='col-'] > p {
    background-color: #FFC2C2;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}
@media all and (max-width:800px){
    .col-1{ width: 33.33%;    }
    .col-2{ width: 50%;        }
    .col-3{ width: 83.33%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }
    .col_7 { width: 100%; }
    .col_8 { width: 100%; }
    .col_9 { width: 100%; }
    .col_10 { width: 100%; }
    .col_11 { width: 100%; }
    .col_12 { width: 100%; }

    .row .col-2:last-of-type{
        width: 100%;
    }

    .row .col-5 ~ .col-1{
        width: 100%;
    }
}

@media all and (max-width:650px){
    .col-1{ width: 50%;        }
    .col-2{ width: 100%;    }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;      }
    .col-6{ width: 100%;      }
    .col_7 { width: 100%; }
    .col_8 { width: 100%; }
    .col_9 { width: 100%; }
    .col_10 { width: 100%; }
    .col_11 { width: 100%; }
    .col_12 { width: 100%; }
}

